<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>974744079696-vfdrt5mcq389nch3rlg8u60adcog3r0g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974744079696-vfdrt5mcq389nch3rlg8u60adcog3r0g</string>
	<key>API_KEY</key>
	<string>AIzaSyCVm615xO1mMd0ZNs-wOraNgTFYF-XTfBI</string>
	<key>GCM_SENDER_ID</key>
	<string>974744079696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>my103.PokeRadarClone</string>
	<key>PROJECT_ID</key>
	<string>pokefinder-9c822</string>
	<key>STORAGE_BUCKET</key>
	<string>pokefinder-9c822.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:974744079696:ios:3287ec246f564ed8</string>
	<key>DATABASE_URL</key>
	<string>https://pokefinder-9c822.firebaseio.com</string>
</dict>
</plist>